<div id="comments-list" class="gap">
    {{ comments }}
</div>

<div id="comment-form" class="gap">
    <div class="mb">
        <h3 class="single-section-title">{{ 'Leave A Review'|t }}</h3>
    </div>
    {{ comment_form }}
</div>