{{ comments }}
<div id="comments-form" class="row wow">
    <div class="col-md-12">
        <div class="mt60 mb50 single-section-title">
            <h3>{{ 'Leave A Reply'|t }}</h3>
        </div>
        <div id="comment_message"></div>
        {{ comment_form }}
    </div>
</div>