# Ignore configuration files that may contain sensitive information.
settings.local.php
development.services.yml

# Ignore paths that contain generated content.
sites/*/files
sites/*/private

# Ignore default text files
CHANGELOG.txt
COPYRIGHT.txt
INSTALL*.txt
LICENSE.txt
MAINTAINERS.txt
UPGRADE.txt
README.txt

/dump
.idea

