<div class="row">
    <div class="col-xs-12 col-sm-6 mb50">
        <div class="summary entry-summary">

            <div>
                <p class="price">
                    <ins><span class="amount">{{ content.field_price }}</span>
                    </ins>
                </p>
            </div>

            <div class="lead">
                {{ content.body }}
            </div>
        </div>
    </div>
</div>