{% set classes = ['nav','navbar-nav','navbar-right'] %}
<ul {{ attributes.addClass(classes) }}>
    {{ title_suffix }}
    {% block content %}
        {{ content }}
    {% endblock %}
    <li><a href="#search"><i class="pe-7s-search"></i></a></li>
    <li><a href="javascript:void(0);" class="side-menu-trigger hidden-xs"><i class="fa fa-bars"></i></a></li>
</ul>